{% include "header.html" %}
      <!--Main-->
      <div class="container my-5 border border-5" >
        ​<table class="table table-light table-striped" >
            <tr>
                <th>Name</th>
                <td>{{re.name}}</td>
            </tr>
            <tr>
                <th>Father Name</th>
                <td>{{re.fname}}</td>
            </tr>
            <tr>
                <th>Mother Name</th>
                <td>{{re.mname}}</td>
            </tr>
            <tr>
                <th>Phone No.</th>
                <td>{{re.phone_no}}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{re.course}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{re.add}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{re.gender}}</td>
            </tr>
            <tr>
                <th>Fee</th>
                <td>{{re.fee}}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{re.photo}}</td>
            </tr>
        </table>
      </div>
      <!--Main End-->
      {% include "footer.html" %}