{% include "header.html" %}
      <!--Main-->
        <div class="container my-5 border border-5" style="font-size: 32px;">
            <ol class="list-group list-group-numbered m-5">
                <li class="list-group-item"><a href="/viewall/">View All Students</a></li>
                <li class="list-group-item"><a href="/viewbybtime/">View by Batch Time</a></li>
                <li class="list-group-item"><a href="/viewbyregno/">View by Registration No.</a></li>
                <li class="list-group-item"><a href="/viewbyname/">View by Name</a></li>
            </ol>
        </div>
      <!--Main End-->
{% include "footer.html" %}